#css-zen-garden{
	margin: 0px; 
	padding: 0px;
}


.page-wrapper {
    display: grid;
    gap: 0px;
    grid-template-columns:  7fr 1fr;
    grid-template-rows: 1fr 3fr;
	background: honeydew; 
	color: teal;
	margin: 0px; 
	padding: 0px;
}


#zen-intro{
    grid-area: 1/1/2/2;
	margin: 0; 
	padding: 10px;
	color: teal; 
	background: rgba(0, 128, 128, 0.273); 
	display: grid;
	gap: 2px;
	grid-template-columns: 1fr 4fr;
    grid-template-rows: 75% 25%;

}

#zen-intro > header{
    grid-area: 1/1/2/2;
	margin: 0; 
	padding: 0;
}

#zen-intro > header h1{
	font: 250% sans-serif;
	font-weight: bold;
}

#zen-intro > header h2{
	font: 85% sans-serif;
}

#zen-intro h3{
	font: 105% sans-serif;
	font-weight: bold;
	text-decoration: underline;
}

#zen-intro > #zen-summary{
    grid-area: 2/1/3/3;
    font: 95% serif;
	margin: 0; 
	padding: 0;
}

#zen-intro > #zen-preamble{
    grid-area: 1/2/2/3;
    font: 95% serif;
	margin: 0; 
	padding: 0;
}


#zen-supporting{
    grid-area: 2/1/3/2;
    font: 105% serif;
	margin: 0; 
	padding: 0;
	display: grid;
    gap: 0px;
    grid-template-rows: 19% 24% 11% 42% 4%;
}

#zen-supporting h3{
	font: 115% sans-serif;
	text-decoration: underline;
}

#zen-supporting footer{
    font: 125% "Times New Roman";
	color: teal; 
	background: rgba(0, 128, 128, 0.273); 
	margin: 0; 
	padding: 0;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
}


.sidebar {
	grid-area: 1/2/3/3;
    font: 95% sans-serif;
	color: teal; 
	background: rgb(214, 255, 214); 
	margin: 0; 
	padding: 0;

	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.sidebar .wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;

}

.sidebar .wrapper #design-selection ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
}

.sidebar .wrapper #design-archives ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;


}

.sidebar .wrapper #zen-resources ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;


}
